@page
@model Work_Metric_Tracker.Pages.Worker.Operations.AddModel
@{
}

<!-- Error Message -->
@if (Model.errorMessage.Length > 0) { 
    <div class="alert alert-warning alert-dismissible fade show"> 
        <strong> @Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label="Close"> </button>
    </div>
} 

<!-- Title of Page -->

<br> 
<h2> New Worker </h2>



<!-- Form to register new worker -->

<form method="POST"> 

    <div class="row mb-3"> 
        <label class="col-sm-3 col-form-label"> Name </label>
        <div class="col-sm-6"> 
            <input type="text" class="form-control" name="name" value="@Model.worker.name"> 
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Apple Care </label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="applecare" value="@Model.worker.applecare">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Business </label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="business" value="@Model.worker.business">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Connected </label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="connected" value="@Model.worker.connected">
        </div>
    </div>

    <!--  Success Message  -->

    @if (Model.successMessage.Length > 0 ) { 
        <div class="row mb-3">
            <div class="col-sm-9"> 
                <div class="alert alert-success alert-dismissible fade show" role="alert"> 
                    <strong> @Model.successMessage </strong>
                    <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label='Close'> </button>
                 </div>
            </div> 
        </div>

       

    } 


    <!-- Submit Button -->

    <div class="row mb-3"> 

        <div class="offset-sm-3 col-sm-3 d-grid"> 
            <button type="submit" class="btn btn-primary"> Submit </button>
        </div>

        <div class="col-sm-3 d-grid"> 
            <a class="btn btn-outline-primary" href="/" role="button"> Cancel </a>
        </div>
    </div>


</form>


